/* Media Query for smaller screens */
@media (max-width: 768px) {
    .login {
        max-width: 100%;
    }
}
body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

a {
    color: black;        
    text-decoration: none; 
    font-weight: bold;   
}

body {
    margin: 0px;
}

.login {
    background: #ffffff;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    height: fit-content;
    overflow: hidden;
    margin: 0 auto;
}

.deco {
    width: 100%;
    height: 150px;
    position: relative;
}

.decs {
    width: 100%;
    position: absolute;
    top: -25px;
}

.top {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.content{
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 30px;
}
.InputType{
    border-radius: 8px;
    border: 0.5px solid #6C6A6A;
    padding: 15px;
    margin-bottom: 15px;
}
.forgot-password {
    align-self: flex-end;
    font-size: 13px;
    font-weight: 100;
}

.bottom{
    max-width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.sign{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #04c401;
    color: #000000;
}

.bottom span{
    font-size: 13px;
    font-weight: 100;
}